<div class="container">
  <button class="btn btn-primary" (click)="showAddNewCourseComponent()">Add New Course</button>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of Courses;let i=index">
        <td>{{ course._id }}</td>
        <td>{{ course.Name }}</td>
        <td>
          <a class="btn btn-primary operations" (click)="editCourse(course._id)">Edit</a>
          <a class="btn btn-danger operations" (click)="deleteCourse(course._id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    <app-course-add *ngIf="CourseService.showCourseController == 1"></app-course-add>
    <app-course-edit [myCourse] = "CourseService.currentCourse" *ngIf="CourseService.showCourseController == 2"></app-course-edit>
  </div>
</div>